	body {
		font-family:Arial, sans-serif;
		padding:20px;
		color:#222222;
	}
	
	div#nav {
		background:#eaeaea;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		width:300px;
		float:right;
	}
	
	div#nav ul {
		list-style:none;
		margin:0;
		padding:0;
	}
	
	div#nav ul li {
		margin:0;
		padding:0;
	}
	
	div#nav ul li a {
		color:#222222;
		text-decoration:none;
		cursor:pointer;
		display:block;
		font-size:12pt;
		padding:10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
	}
	
	div#examples {
		float:right;
		width:600px;
		margin:0 20px 0 0;
	}	
	
	a.selected {
		background:blue;
		text-decoration:underline;
	}
	
	
pre {
   	display: block;
	margin:0;
	padding:0;
   	white-space: pre;
   	line-height: 1.4;
   	border: 4px solid #333;
   	background: #000;
   	font-size: 12pt;
   	font-family:; monaco, monospace;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		color:green;
}