	body {
		font-family:Arial, sans-serif;
		padding:20px;
		color:#222222;
	}
	
	div#nav {
		background:#eaeaea;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		width:300px;
		float:right;
	}
	
	div#nav ul {
		list-style:none;
		margin:0;
		padding:0;
	}
	
	div#nav ul li {
		margin:0;
		padding:0;
	}
	
	div#nav ul li a {
		color:#222222;
		text-decoration:none;
		cursor:pointer;
		display:block;
		font-size:12pt;
		padding:10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
	}
	
	div#examples {
		float:right;
		width:660px;
		margin:0 20px 0 0;
	}	
	
	.selected {
		background:#ddd;
	}
	
pre {
   	display: block;
	margin:0 0 10px 0;
	padding:10px;
   	border: 4px solid #333;
   	background: #000;
   	font-size: 11pt;
   	font-family: monaco, monospace;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	color:green;
}

.example {
	border:1px solid #ccc;
	background:#eaeaea;
	padding:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

.wrap {
	border:1px solid yellow;
	background:#ffffcc;
	padding:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}


#drag,
#resize-and-rotate {
	background:blue;
	width:100px;
	height:100px;
	line-height:100px;
	text-align:center;
	color:white;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

#resize-and-rotate {
	background:green;
}

#fx {
	background:green;
	width:100px;
	height:100px;
	line-height:100px;
	text-align:center;
	color:white;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}


/* these are from the old style examples... need to clean this up */
.box {
  position:absolute;
  width:50px;
  height:50px;
}

#box1 {
  top:0px;
  left:70px;
  background-color:red;
}

#box2 {
  top:0px;
  left:0px;
  background-color:blue;
}

#box3,#box4,#box5 {
  border:1px solid #000;
}

.wrap {
  position:relative;
  height:60px;
}

.red {
  background-color:red;
}

