[submodule "vendor/emile"]
	path = vendor/emile
	url = git://github.com/brianleroux/emile.git
[submodule "packages/qunit"]
	path = packages/qunit
	url = git://github.com/brianleroux/qunit.git
[submodule "packages/shoulda-js"]
	path = packages/shoulda-js
	url = git://github.com/brianleroux/shoulda-js.git
[submodule "packages/emile"]
	path = packages/emile
	url = git://github.com/brianleroux/emile.git
