
.xui {
  margin:0px; padding:0px;
  width:330px;
  overflow:hidden;
}

.xui-page {
  position:absolute;
  left:330px;
  width:328px;
  height:460px;
  border:1px solid #ccc;
}
.xui-page.selected{
  left:0px !important;
}

/** micro components **/
.xui .xui-header {
	/* aesthetic */
	width:310px;
	background:#eaeaea;
	padding:10px;
	/* layout */
	position:relative;
	left:0px;
	top:0px;
}

.xui .xui-header SPAN.xui-title {
 position:relative;
 left:120px; 
}

.xui .xui-right {
  position:absolute;
  right:10px;
  top:7px;  
}

.xui BUTTON.xui-button {
  border:1px solid #000;
}
