body {
  width: 320px;
  min-height: 316px; /* helps preventDefault apparently */

  margin: 0px;
  padding: 0px;
  background-image: url('../images/background.png');
  background-repeat: repeat;
  font-family: Helvetica;
  
  -webkit-touch-callout: none;    /* removes touch tooltip callout */
  -webkit-text-size-adjust: none; /* removes safaris font size rendering */
}

/*
when the orientation changes to landscape mode, the body is assigned the .landscape
class so that we can easily change metrics and other properties via simple CSS matching
*/
body.landscape {
  width: 480px;
}

#container {
  min-height: 416px;
}

body.landscape #container {
  min-height: 268px;
}

#content h1 {
	margin:20px;
	padding:0;
	font-size: 16pt;
  	font-weight: normal;
  	color: #848484;
  	text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
}