
#footer {
  	background-image: url('../images/footer.png');
  	border-bottom: 1px solid rgb(45, 54, 66);
	position: absolute;
	top: 368px;
	height: 49px;
	width:100%;
	background-position: center bottom;
	color:#fff;
	font-size:9px;
	line-height:49px;
	text-align:center;
}

#footer a {
	color:#fff;
}
