#pageOne,
#pageTwo {
  position: absolute;
  /*
  add a default transform so that the contents of the pages
  are already composited as hardware elements and will animate
  smoothly later on when we launch transitions
  */
  -webkit-transform: translate(0px,0px);
}

ul {
  width: 300px;
  padding: 0px;
  margin: 10px 0px 6px 10px;
  font-size: 18px;
  font-weight: bold;
}

body.landscape ul {
  width: 460px;
}

li {
  height: 32px;
  list-style-type: none;
  background-color: white;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: rgb(171,173,176);  
  margin: 0px;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 20px;
  /* ensure that long pieces of text get trimmed */
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
this matches the first list item, which needs rounding in the top corners
and no bottom border as the item below will already draw a border at its top
*/
li:first-child {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border: 1px solid rgb(171,173,176);
  border-bottom-width: 0;
}

/*
this matches the last list item, which needs rounding in the bottom corners
and a bottom border
*/
li:last-child {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border: 1px solid rgb(171,173,176);
  margin-bottom: 5px;
}

/*
list items with the .group class are those that can be tapped to drill
further down and therefore need an arrow in the background to indicate that
*/
li.group {
  background-image: url('../images/chevron.png');
  background-repeat: no-repeat;
  background-position: 280px 18px;
}

body.landscape li.group {
  background-position: 440px 18px;
}

/* this is for the touched state of list items */
li.group:active {
  background-image: url('../images/chevron_touched.png'), url('../images/item_background_touched.png');
  background-position: 280px 18px, 0 0;
  background-repeat: no-repeat, repeat-x;
  color: white;
}

body.landscape li.group:active {
  background-position: 440px 18px, 0 0;
}
