body{
  font-family: Arial, sans-serif;
  font-size:82%;
  margin:0;
  line-height:1.5em;
  background:#eee;
  padding:30px;
}
h1.title{
  margin:0;
  padding:0;
  display:inline;
  float:left;
}
h1.title a{
  font-size:4em;
  text-decoration:none;
  color:#222;
  margin:0;
  line-height:1em;
  font-size:4.4em;
  letter-spacing:-.12em;
}

a.download{
  color:green;
  font-family:Georgia;
  font-size:3.3em;
  font-weight:bold;
  padding:30px 0;
  display:block;
  text-align:center;
  margin:0;
}

h2{
  color:lightblue;
  font-style:italic;
  color:#933;
}

h3{
  font-size:1.5em;
  color:#2B2720;
  font-family:Georgia,"Times New Roman",Times,serif;
  border-bottom:1px solid #E2E1DE;
  margin-bottom:0.5em;
}

#shell{
  padding:10px 20px;
  background:#fff;
  width:700px;
  min-height:800px;
}

#why{
  background:#ffd;
  border:1px solid #ffb;
  padding:0px 15px 0px;
}

#why h3{
  margin-top:15px;
  border-width:0;
}
#content{
  clear:both;
}

#nav{
font-size:1.3em;
line-height:normal;
margin-left:180px;
padding-top:12px;
font-family:Georgia;
font-weight:200;
font-style:italic;
overflow:auto;
}
#nav ul{
float:left;
margin:0;
padding:0;
list-style:none;
}
#nav li{
float:left;
margin:0;
padding:0;
}
#nav a{
float:left;
display:block;
padding:3px 10px 3px 10px;
text-decoration:none;
color:#777;
}
/* Commented Backslash Hack
hides rule from IE5-Mac \*/
#nav a {float:none;}
/* End IE5-Mac hack */
#nav a:hover {
color:#888;
text-decortation:none;
}
#nav .selected a{
color:#0479A7;
}
#nav .btn-log a{
margin-left:70px;
color:gold;
}


pre {
background:#DFECF1;
border:1px dotted #ccc;
color:#25221D;
font-family:"Courier New","Andale Mono",monospace;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
overflow:auto;
padding:10px;

}
