@font-face {
   font-family: "Gill Sans";
   src: url("../fonts/GillSans.ttf") format("truetype");
}

body {
	font-family:"Gill Sans";
	background:#333;
	border:none;
	margin:0;
	padding:0;
	color:#fff;
}

a {
	color:#fff;
}

div#stage {
	margin:0 auto 0 auto;
}

div#stage div#header,
div#stage div#footer {
	text-align:center;
	background:url("../images/header.gif") repeat-x;
	width:100%;
	height:31px;
	line-height:31px;
	font-size:11px;
	font-weight:lighter;
	text-shadow: #000 1px 1px 1px; 
}

div#stage div#header h1 {
	font-size:18px;
	margin:0;
}

h2 {
	font-size:14px;
	margin:20px;
	text-shadow: #000 1px 1px 1px;
}

div#stage ul.nav {
	list-style:none;
	margin:20px;
	padding:0;
	
}

div#stage ul.nav li a {
	list-style:none;
	font-weight:lighter;
	text-decoration:none;
	display:block;
	background:#666;
	padding:20px;
	text-shadow: #000 1px 1px 1px;
	border-bottom:1px solid #333;
}

div#stage ul.nav li a:hover {
	background:#999;
}

div#stage ul.nav li:first-child a  {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

div#stage ul.nav li:last-child a {
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

